.wrapper {
    padding: 0px;
    margin: 0px;
}
.w-100{
    height: 100vh;
}
.img-logo{
    width: 100%;
    height: auto;
}


.carousel-caption{
    margin-bottom: 15%;
}
.nav-link{
    font-size: 13px;
    padding-left: 9px;
    padding-right: 9px;
}
.icon-header{
    width: 30px;
    height: 30px;
}
.container-cha{
    position: relative;
}
.container-con{
    position: absolute;
  
    top:3%;
    left: 10%;
}
.container{
    margin-top:30px;
   
}
.text-main{
    margin-top:30px;
}
.text-icon{
    padding-top: 10px;
    padding-bottom: 10px
}
.img-gt{
     position: relative;
     
}
.img-gt img{
    border-radius: 3%;
}
.img-gt-text{
    position: absolute;
    top:85%;
    font-size: 20px;
    left:30%;
}
.img-gt-text2{
    position: absolute;
    top:85%;
    font-size: 18px;
    left:25%;
}
.row-img1{
    margin-top:30px;
}
.text-main2{
    padding-top: 20px;
}
.row-tour1{
    margin-top: 20px;
}

.bg-img{
    width: 100%;
    height: auto;
    background-image: url(/assets/img/pexels-roberto-nickson-2775196.jpg);
    padding-bottom:30px;
}
.col-img-c img{
    margin-bottom: 20px;
}
.text-10{
    font-size: 12px;
    padding-top:10px
}
.b{
    font-weight: bolder;
    font-size: 22px;
}
.row-img2{
    margin-top:30px;
}
footer{
    background-color: rgb(12, 12, 58);
    color: #fff;
}
.row-footer{
    padding-top:30px;
}
.div-boot{
    margin-top:45px;
    padding-bottom:25px;
}
@media (max-width:576px) {
    .search{
        margin-top: -46px;
        margin-left: -90px
    }
    .carousel-caption {
        margin-bottom: 60%;
    }
}
@media (max-width:300px) {
    nav.navbar.navbar-expand-md.navbar-light.sticky-top {
        padding: 0px;
        color:#000;
    }
    .carousel-caption {
        margin-bottom: 60%;
    }
    
}
@media (max-width:960px) {

     .carousel-caption {
        margin-bottom: 60%;
        margin-top:20%;
    }
    .rp-img{
        margin-top:100px;
    }
}

